<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.title}}</title>
    
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
</head>

<body cz-shortcut-listen="true">
    <style type="text/css">
        body {
            background: #F6F5F7;
        }

        .imgContainer {
            padding: 0 16px;
            margin-top: 14px;
        }

        .imgContainer img {
            width: 100%;
            height: auto;
            box-shadow: 0px 3px 12px rgba(21, 0, 71, 0.16);
        }

        .beatWord {
            text-align: center;
            margin: 14px;
            margin-top: 20px;
        }

        .fieldset {
            padding: 0.8em;
            margin: 0 2px;
            border: 1px dashed #f54d23;
            background: #fff;
        }

        .legend {
            background: #f54d23;
            border: none;
            font-size: 0.8rem;
            line-height: 20px;
            color: #fff;
            padding: 0 4px;
            top: -20px;
            position: relative;
        }

        .itemCopy {
            border: none;
            font-size: 16px;
            padding: 6px 15px;
            background: #f60;
            display: inline-block;
            margin: 10px auto;
            border-radius: 16px;
            color: #fff;
        }

        .itemWord {
            font-size: 12px;
            
            position: relative;
        }

        .kz-float-layer {
            height: 0px !important;
        }

        .kz-float-layer {
            display: none !important;
        }
    </style>
          <div id="container" style="display: none">
              <div style='position:relative;padding-top:100px;color:#333;font-size: 22px;text-align: center;'>
                <i style='position: absolute;top: 10px;right: 10px;font-size: 100px' class='iconfont icon-jiantou'></i>
                <p style="font-weight: 600;">请点击屏幕右上角 [ ··· ] </p>
                <p>在 <i style='font-size: 60px;color: #1487F0' class='iconfont icon-browser'></i> 浏览器打开</p></div>
            </div>
    <div class="beatWord">
        <div class="fieldset">
            <div id="copy_tip" class="legend">请按照提示操作</div>
            <p id="itemWord" class="itemWord">点击下方按钮·即可直接打开网页领取</p>
            <p class="itemWord" style="color: red;">您即将跳转至领取优惠券界面，如果您按下按钮跳转，视为已知该页面跳转内容。</p>
            <p id="nr" class="itemWord" style="color: red; font-size: 14px; font-weight: bolder;">是否需要跳转至网页领取：</p>
            <a id="koulingURL" href="{{.url}}" style="background: #00a1ff;border: none;font-size: 16px;padding: 6px 15px;display: inline-block;margin: 0px 4px 10px 4px;border-radius: 16px;color: #fff;text-decoration: none;">
                跳转tao宝
            </a>            
        </div>
    </div>



    <div class="beatWord">
        {{if .cms}}
        <a id="cms" href="{{.cms}}" style="background: #712ae8;border: none;font-size: 16px;padding: 6px 15px;display: inline-block;border-radius: 16px;color: #fff;text-decoration: none;  ">
            自助查券
        </a>
        {{end}}
        {{if .ele}}
        <a id="ele" href="{{.ele}}" style="background: #712ae8;border: none;font-size: 16px;padding: 6px 15px;display: inline-block;margin: 10px 4px 10px 4px;border-radius: 16px;color: #fff;text-decoration: none;">
            饿了么红包
        </a>
        {{end}}

        {{if .diyButton}}
                <a id="cms" href="{{.diyUrl}}" style="background: #712ae8;border: none;font-size: 16px;padding: 6px 15px;display: inline-block;margin: 10px 4px 10px 4px;border-radius: 16px;color: #fff;text-decoration: none;">
                    {{.diyButton}}
                </a>
                {{end}}
    </div>
    <script type="text/javascript" src="http://static.shitouboy.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.shitouboy.com/clipboard.min.js"></script>
    <script>
        //获得参数
        function getQueryString(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            let r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            };
            return null;
        }
        function gb() {
            alert("您选择了不跳转，请手动退出当前页面哦~");
        }
        function getQueryVariable(variable)
        {
               var query = window.location.search.substring(1);
               var vars = query.split("&");
               for (var i=0;i<vars.length;i++) {
                       var pair = vars[i].split("=");
                       if(pair[0] == variable){return pair[1];}
               }
               return(false);
        }

        $(function () {
            var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                wx: u.indexOf("MicroMessenger") > 0 //是否是微信
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
            }, con = document.getElementById("container");
            if (browser.versions.wx) {
                $(".beatWord").css("display", "none")
                con.style.cssText = "display:block";
            }
            var sUserAgent = navigator.userAgent.toLowerCase();
            if (/ipad|iphone|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/.test(sUserAgent)) {
                //跳转移动端页面
                var url = document.getElementById("koulingURL").href
                var koulinURL ="taobao:"+decodeURIComponent(url);
                document.getElementById("koulingURL").href = koulinURL.replace(/https:/g, "") ;
                console.log("koulingURL", document.getElementById("koulingURL").href)
                // document.getElementById("nr").innerHTML="是否需要跳转至APP领取：";
                // document.getElementById("itemWord").innerHTML="点击下方按钮·即可直接跳转至APP领取";

                var ele = document.getElementById("ele").href
                var eleUrl ="taobao:" + decodeURIComponent(ele);
                document.getElementById("ele").href = eleUrl .replace(/https:/g, "") ;
                console.log("ele", document.getElementById("ele").href)


            } else {
                //跳转pc端页面
              //  var koulinURL =decodeURIComponent(getQueryVariable("url"));
             //   document.getElementById("koulingURL").href = koulinURL;
                // document.getElementById("nr").innerHTML="是否需要跳转至网页领取：";
                // document.getElementById("itemWord").innerHTML="点击下方按钮·即可直接打开网页领取";
                
            }
        });
        
    </script>


</body></html>